.tabs-menu-container {
width: 100%;
height: 70px;
display: flex;
flex-direction: row;
}

.tabs-menu-container .menu-item {
width: 35%;
height: 50px;
color: #fff;
cursor: pointer;
display: flex;
justify-content: center;
}

.basic-tab {
width: 100%;
display: flex;
position: relative;
overflow: hidden;
transition: all .3s .3s linear;
}
.moving-image-box{
    transition: all .3s cubic-bezier(0.620, -0.120, 1.000, 0.385);
}
.success-part{
    width: 70%;
    margin: auto;
    border-radius: 10px;
    position: relative;
    background-color: #6FCF97;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
    position: absolute;
    top: 50px;
    transform: translate(-2500px);
    transition:all .3s .3s cubic-bezier(1.000, -0.125, 0.000, 1.100);
}

.success-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.success-text img{
    width: 120px;
    margin-right: 30px;
    height: 120px;
}
.success-text h2{
color: #fff;
font-size: 20px
}
.success-text h3{
    color: #fff;
    font-weight: 100;
    font-size: 19px;
}
.our-logo{
    position: absolute;
    bottom: 0;
    right: 0;
}

.xxxx{
    background-color: #fff;
    color: red;
    width: 0;
    height: 0;
}
.xxxx:active{
    color:yellow;
}
.xxxx:focus{
    color: blue;
}


.tabs-circle-container {
width: 40px;
height: 40px;
background-color: #fff;
color: #B3B3B3;
border-radius: 100px;
text-align: center;
align-items: center;
font-size: 20px;
font-weight: 700;
padding-top: 8px;
-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
}

.tabs-circle-container-text {
padding-top: 10px;
font-size: 20px;
padding-left: 15px;
color: #B3B3B3;
}

.map-search-container {
position: absolute;
top: 100px;
width: 900px;
height: 60px;
z-index: 4;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}

.search-box-create-container {
width: 100%;
height: 60px;
border-radius: 50px;
background-color: #fff;
box-shadow: 0px 0px 0px 10px #80808030;
}

.search-box-create-container ul {
list-style-type: none;
margin: 0;
padding: 0 20px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

.search-box-create-container ul li {
display: block;
float: left;
}

.create-input-location {
width: 100%;
margin: 8px 0;
display: inline-block;
border: 0;
box-sizing: border-box;
}

.create-input-location:focus {
outline: none;
border: none;
}

.search-box-create-container ul li h1 {
color: #C50143;
font-size: 18px;
font-weight: 700;
}

.search-button {
position: relative;
width: 50px;
height: 50px;
border: 0;
border-radius: 40px;
box-sizing: border-box;
background-color: #1FC056;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
left: 15px;
box-shadow: 2px 2px 15px #6e6e6e61;
cursor: pointer;
transition: all .2s linear;
}
.search-button:hover{
    opacity: .9;
transition: all .2s linear;

}

.input-create-search {
width: 400px;
}

.create-map-footer {
width: 300px;
position: absolute;
bottom: 0;
right: 0;
padding: 45px;
}

.btn-create-continu {
font-size: 16px;
border-radius: 100px;
padding: 15px 20px;
margin-bottom: 0;
text-decoration: none;
font-weight: 700;
cursor: pointer;
width: 250px;
float: right;
display: flex;
align-items: center;
}

.btn-yellow {
background-color: #F2C94C;
color: #333333;
transition: background-color 0.5s ease;
}
.btn-go-to-home{
    background-color: #F1F1F1;
    color: #9A9A9A;
    transition: all .2s linear;
}
.btn-go-to-home:hover{
    background-color: rgb(211, 211, 211);
    transition: all .2s linear;

}
.btn-yellow:hover {
background-color: rgb(182, 143, 27);
}

.btn-save-list {
background-color: #1FC056;
color: #333333;
transition: background-color 0.5s ease;
}

.btn-save-list:hover {
background-color: rgb(2, 139, 48);
}

.btn-save-list i {
margin-left: 10px;
}

.create-btn-container {
width: 100%;
display: flex;
justify-content: center;
padding: 10px 0;
align-items: center;
}

.create-form-container {
width: 70%;
margin: auto;
padding-bottom: 100px;
}

.create-basic-info-type-container {
width: 100%;
display: flex;
flex-direction: row;
}

.create-basic-info-type-item {
width: 50%;
}

.create-checkbox-container {
width: 100%;
padding-bottom: 20px;
}

.create-checkbox-container ul {
list-style-type: none;
margin: 0;
padding: 0 20px;
display: flex;
}

.create-checkbox-container ul  li {
display: block;
background-color: #fff;
width: 33%;
padding: 10px;
}

.create-btn-information-container {
display: flex;
width: 100%;
justify-content: space-between;
margin-top: 50px;
}
.notFixCreateBtn{
    display: flex;
width: 100%;
justify-content: space-between;
margin-top: 50px;

}
.fixCreateBtn{
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 70%;
    margin: auto;
    display: flex;

    justify-content: space-between;

}


.create-btn-information-container-item {
width: 250px;
padding-top: 20px;
display: flex;
justify-content: center;
}

.btn-silver {
background-color: #ccc;
color: #333333;
transition: background-color 0.5s ease;
}

.btn-silver:hover {
background-color: #EEEEEE;
}

.dropzone {
width: 100%;
background-color: red;
}

.box-form {
display: block;
width: 70%;
padding: 10px;
margin: auto;
padding-bottom: 50px;
}

.box-image {
width: 100%;
margin: 10px auto;
}

.darg-image-box {
display: flex;
flex-direction: column;
width: 100%;
height: 300px;
justify-content: center;
align-items: center;
border: 2px dashed grey;
border-radius: 15px;
background-color: #F9F9F9;
}

.line-seprator {
width: 100%;
height: 2px;
background-color: #eee;
margin: 30px auto 50px;
}

.select-image-btn {
width: 250px;
height: 50px;
background-color: #F2C94C;
border-radius: 30px;
font-size: 17px;
font-weight: 900;
margin-bottom: 30px;
cursor: pointer;
transition: all .2s linear;
}

.select-image-btn:hover {
background-color: rgb(161, 121, 1);
transition: all .2s linear;
}

.app {
width: 100%;
height: 100%;
background-color: #f2f2f2;
border-radius: 15px;
}

.selected-files {
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
}

.imge-uploader-delete-container {
width: 40px;
height: 40px;
border-radius: 100px;
background-color: #DC3053;
z-index: 0;
bottom: 5px;
position: absolute;
right: 5px;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
transition: all .2s linear;
}

.imge-uploader-delete-container:hover {
cursor: pointer;
background-color: rgb(145, 5, 33);
transition: all .2s linear;
}

.imge-uploader-delete-container img {
width: 14px;
height: 14px;
}
.megaphone{
    float: right;
    margin-left: 20px;
    width: 16px;
}

.btn-arrow-left{
float: left;
margin-right: 20px;
width: 10px;
}
.btn-arrow-right{
    float: right;
    margin-left: 20px;
    width: 10px;
}

.goHomeIcon{
    padding: 5px;
    width: 38px;
}
@media screen and (max-width: 1150px) {
    
    
.create-basic-info-type-container {
    flex-direction: column;
}

.create-basic-info-type-item {
    width: 100%;
}

.create-form-container {
    width: 100%;
    padding: 20px;
}
.fixCreateBtn{
    width: 100%;
    padding: 20px;
}
.create-btn-information-container-item{
    width: auto;
    padding-top: 0px;
    min-width: 190px;
}
.btn-create-continu{
    padding: 5px 20px;
    width: 210px;
}
.success-part{
    padding: 70px;
}
}
@media screen and (max-width: 950px) {
    .search-box-create-container ul li.where-is{
        display: none;
    }
    .map-search-container{
        width: 90%;
    }


}

@media screen and (max-width: 750px) {
    
.create-checkbox-container ul {
    flex-direction: column;
}

.create-checkbox-container ul  li {
    width: 100%;
}
.box-form{
    width: 100%;
}
.btn-create-continu{
    padding: 5px;
    width: 140px;
}
.create-btn-information-container-item{
    width: 130px;
    min-width: 130px;
}
.create-btn-container{
    font-size: 12px;
}

.drop-down-list{
    font-size: 11px;
    width: 90px;
    margin-left: 10px;
}
.input-create-search{
    width: calc(100% - 90px);
}

}

@media screen and (max-width: 500px) {

.tabs-circle-container-text{
    display: none;
   
}
.drag-drop-text{
    padding: 20px;
    text-align: center;
}
.create-btn-information-container-item{
    width: 110px;
    min-width: 110px;
}
.create-btn-container{
    font-size: 10px;
}
.fixCreateBtn, .notFixCreateBtn{
    padding: 5px;
    justify-content: space-around;
}
.btn-arrow-left{
    margin-right: 10px;
    width: 8px;
}
.btn-arrow-right{
    width: 8px;
    margin-left: 10px;
}

.select-image-btn {
    width: 200px;
    font-size: 14px;
}
.drop-down-list{
    font-size: 10px;
    width: 60px;
    margin-left: 5px;
}
.input-create-search{
    width: calc(100% - 80px);
    font-size: 11px;
}

}

@media screen and (max-width: 380px) {
    .btn-create-continu{
        width: 100px;
        min-width: 100px;
    }
    .megaphone {
        float: right;
        margin-left: 7px;
        width: 13px;
    }
    .container{
        width: 100% !important;
    }

    .create-form-container{
        padding: 5px;
    }
}