


.tabs-menu-container{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    
}



.tabs-menu-container .menu-item {
    width: 35%;
    height: 50px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;


}

.basic-tab{
    width: 100%;
    display: flex;

}


.tabs-circle-container{
    width: 40px;
    height: 33px;
    background-color: #fff;
    color: #B3B3B3;
    border-radius: 100px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 7px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    
}

.tabs-circle-container-text{
    padding-top: 10px;
    font-size: 20px;
    padding-left: 15px;
    color: #B3B3B3;

}
 


.map-search-container{
    position: absolute;
    top:300px;
    width: 900px;
    height: 60px; 
    z-index: 999;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 8px solid rgba(193, 193, 193, 0.500);
    
}

.search-box-create-container{
    width: 100%; 
    height: 60px;
    border-radius: 50px;
    background-color: #fff;
}

.search-box-create-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    
}

.search-box-create-container ul li{
    display: block;
    float: left;
}

.create-input-location {
    width: 100%; 
    margin: 8px 0;
    display: inline-block;
    border: 0;
    box-sizing: border-box;
    padding-top: 13px;

}


.create-input-location:focus {
    outline: none;
    border: none;
}

.search-box-create-container ul li h1 {
    color: #C50143;
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;

}


.search-button{
    width: 50px;
    height: 50px; 
    border: 0;
    border-radius: 40px;
    box-sizing: border-box; 
    background-color: #1FC056;
    text-align: center;
}

.input-create-search{
    width: 400px;

}

.create-map-footer{
    width: 250px; 
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 45px;

}

.btn-create-continu {
    font-size: 16px;
    border-radius: 100px;
    padding: 15px 20px;
    margin-bottom: 0;
    text-decoration: none;
    font-weight: 700;
}

.btn-yellow {
    background-color: #F2C94C;
    color: #333333;
    transition: background-color 0.5s ease;
   
   }
   
   .btn-yellow:hover {
       background-color:  rgb(182, 143, 27);
   
   }

   .create-btn-container{ 
        width: 100%; 
        display: flex;
        justify-content: center;
        padding: 10px 0;
   }

   
   .create-form-container{ 
       width: 70%; 
       margin: auto;
       padding-bottom: 100px;

   }

   .create-basic-info-type-container { 
       width: 100%; 
       display: flex;
       flex-direction: row;

   }

   .create-basic-info-type-item{ 
       width: 50%; 

   }
   .create-checkbox-container{ 
       width: 100%; 
       padding-bottom: 20px;

   }

   .create-checkbox-container ul{
        list-style-type: none;
        margin: 0;
        padding: 0 20px; 
        display: flex;

   }

   .create-checkbox-container ul  li {
    display: block; 
    background-color: #fff;
    width: 33%;
    padding: 10px;

}


.create-btn-information-container{
    display: flex;
    width: 100%; 
    justify-content: space-between;

}
.create-btn-information-container-item {
    width: 250px;  
    padding-top: 20px;

}

 

.btn-silver {
    background-color: #ccc;
    color: #333333;
    transition: background-color 0.5s ease;
   
   }
   
   .btn-silver:hover {
       background-color:  #EEEEEE;
   
   }


   .dropzone{
       width: 100%;
       background-color: red;

   }

   .box-form{
    display: inline-flex;
    width: 45%;
    padding: 10px;
}

   .box-image { 
    border-radius: 15px;
    height: 370px;
    width: 100%;
    margin-top: 10px; 
    
}

.app {
    width: 100%;
    height: 100%; 
    background-color: #f2f2f2;
    border-radius: 15px;
}













   @media screen and (max-width: 1150px) {
   
   
    .create-basic-info-type-container{
        flex-direction: column;

    }

    .create-basic-info-type-item{
        width: 100%;
    }

    .create-form-container{
        width: 100%;
    }

 
}


@media screen and (max-width: 700px) {
   
    .create-checkbox-container ul {
        flex-direction: column;
    }
    .create-checkbox-container ul  li{
        width: 100%;
    }

}