
.data-parent{
padding: 10px
}

.data-child{
    margin: 10px;
    background-color: #fff;
}

.data-description{
font-size: 12px;
padding: 10px;
}

.data-price-box{
font-size: 12px;
padding: 10px;
}
.data-price{
color: #4D4D4D;
}
.data-price-number{
color: grey;
}
.data-details{
    color: #ADADAD;
    font-size: 12px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.data-room span , .data-bed span , .data-mm span{
    color: #515151;   
    margin: 0px 5px;
}