.not-found{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 100px auto;
    text-align: center;
    padding: 50px;
    align-items: center;
    justify-content: center;
    height: 600px;;
}

.not-found-number{
font-size: 40px;
color: #999;
margin: 0px 0px 30px; 
}

.not-found-text{
    font-size: 35px;
    color: #333;
    margin: 0px 0px 50px;
}

