.profile{
  margin-top: 100px;
}

.profile > h1 {
    font-size:24px;
    color: #333;
}

.myLine{
    width: 100%;
    background-color: #aaa;
}
.detaile-upload{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0px;
}

.detaile-input .input-label{
    margin: 0px auto 30px;
}
.image-upload{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 30px;
    border: 3px solid #55d8ff;
}
.image-upload h1 {
    margin: 20px auto;
    font-size: 18px;
    color: #999;
    font-weight: 500;
}
.image-upload p{
    margin: 20px auto;
    font-size: 14px;
    color: #ccc;
    text-align: center;
}
.image-upload-logo{
    width:200px;
    height:200px;
    margin: 20px auto;
    border: 2px dashed #a7a7a7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s linear;
}
.image-upload-logo:hover{
    opacity: .7;
    transition: all .2s linear;
}
.image-upload-logo img{
    width: 90px;
}

.detaile-input{
width: 40%;
padding: 20px;

}
.detaile-upload .app{
    width: 50%;
    border-radius: 30px;
}

.detaile-upload .selected-files >div{
    margin: 20px !important;
}
.image-thumbnail{
    width: 50%;
}
.detaile-upload .selected-files >div >div{
    border-radius: 50% !important;
}
.detaile-upload .imge-uploader-delete-container{
    right: 38%;
    opacity: 0.3;
    transition: all .2s linear;

}
.detaile-upload .imge-uploader-delete-container:hover{
    opacity: 1;
    transition: all .2s linear;

}



@media screen and (max-width: 800px) {

    .detaile-upload{
        flex-direction: column;
    }
    .image-upload , .detaile-input{
        width: 100%;    
    }
    .detaile-input .input-label{
        margin: 30px auto;
    }
    .detaile-input{
        padding: 0px;
    }
    .detaile-upload .app , .image-thumbnail{
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .detaile-upload{
        padding: 20px;
    }

    .image-upload-logo img{
        width: 50px;
    }
    .profile > h1{
        margin-left: 20px;
    }
}