.profile{
  margin-top: 100px;
}

.profile > h1 {
    font-size:24px;
    color: #333;
}

.myLine{
    width: 100%;
    background-color: #aaa;
}
.detaile-upload{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0px;
}

.detaile-input .input-label{
    margin: 0px auto 30px;
}
.image-upload{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 30px;
    border: 2px dashed #a7a7a7;
}
.image-upload h1 {
    margin: 20px auto;
    font-size: 18px;
    color: #999;
    font-weight: 500;
}
.image-upload p{
    margin: 20px auto;
    font-size: 14px;
    color: #ccc;
    text-align: center;
}
.image-upload-logo{
    width:200px;
    height:200px;
    margin: 20px auto;
    border: 2px dashed #a7a7a7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s linear;
}
.image-upload-logo:hover{
    opacity: .7;
    transition: all .2s linear;
}
.image-upload-logo img{
    width: 90px;
}

.detaile-input{
width: 40%;
/* padding: 20px; */

}
.detaile-upload .app{
    width: 50%;
    border-radius: 30px;
}

.detaile-upload .selected-files >div{
    margin: 20px !important;
}
.image-thumbnail{
    width: 50%;
}
.detaile-upload .selected-files >div >div{
    border-radius: 50% !important;
}
.detaile-upload .imge-uploader-delete-container{
    right: 38%;
    opacity: 0.3;
    transition: all .2s linear;

}
.detaile-upload .imge-uploader-delete-container:hover{
    opacity: 1;
    transition: all .2s linear;

}


.successBox , .errorBox{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: #000000a3;
    transition: all .2s linear;
    animation: successAnim 4s 1 forwards linear;
}

.successBoxHidden , .errorBoxHidden{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    transition: all .2s linear;
}

.success-text{
    padding: 50px;
    background-color: #479f47e8;
    border-radius: 10px;
    color: #fff;
    min-width: 500px;
}
.error-text{
    padding: 50px;
    background-color: #9f4747e8;
    border-radius: 10px;
    color: #fff;
    min-width: 500px;
}
.success-text >span ,.error-text>span {
    text-align: center;
    margin: auto;
}


@keyframes successAnim {
    0% {
        opacity: 0;
        transform: scale(1)

    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    99%{
        opacity: 0;
        transform: scale(1)

    }
    100%{
        display: none;
        opacity: 0;
        transform: scale(0)
    }
}


@media screen and (max-width: 800px) {

    .detaile-upload{
        flex-direction: column;
    }
    .image-upload , .detaile-input{
        width: 100%;    
    }
    .detaile-input .input-label{
        margin: 30px auto;
    }
    .detaile-input{
        padding: 0px;
    }
    .detaile-upload .app , .image-thumbnail{
        width: 100%;
    }
    .success-text , .error-text{
        min-width: 400px;
    }
}
@media screen and (max-width: 500px) {
    .detaile-upload{
        padding: 20px;
    }

    .image-upload-logo img{
        width: 50px;
    }
    .profile > h1{
        margin-left: 20px;
    }
    .success-text , .error-text{
        min-width: 90%;
        font-size: 12px;
    }
    .success-text , .error-text{
        padding: 25px;
    }

}