 








.header-container { 
    background-color: rgba(255,255,255,0.18);
    display: flex;
    position: absolute;
    line-height: 15px;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    top:0;
    height: 100px;
    max-width: 1400px;
    margin: auto;
    right: 0;
    left: 0;
}

a{
   text-decoration: none;
}
a:active{
    color: inherit;
}
a:visited{
    color: inherit;
}
.logo-container{
    width: 300px;
    height: 50px; 
    text-align: center;
    align-items: center;


}


.navbar-container {
    width: 100%;
    height: 50px; 
}


.logo{
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.desktop-nav {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;

}


.desktop-nav  li {
    display: block;
    float: right;
}


.desktop-nav li a  ,.login-link-d {
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 50px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    cursor: pointer;
}
.login-link-t{
    cursor: pointer;
}
.desktop-nav li a:hover:not(.active) , .login-link-d:hover:not(.active){
    background-color: rgba(34,34,34,0.5);
    border-radius: 50px;
    color: #fff;
}



/* ////////////////////////////////////Modal  */
.modalBoxUp{
    position: fixed;
    top: -1500px;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0);
    transition: top .3s cubic-bezier(0.630, 0.040, 0.900, 0.210);
    /* transition: background-color  .1s cubic-bezier(0.010, 0.985, 0.020, 0.995); */

}
.modalBoxDown{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
    transition: top  .3s cubic-bezier(0.010, 0.985, 0.020, 0.995);
}

.close-login-modal{
position: absolute;
top: 20px;
right: 40px;
cursor: pointer;
width: 60px;
height: 60px;
transition: all .2s linear;

}
.close-login-modal:hover{
    background-color: #ffffff1a;
    transition: all .2s linear;

}

.close-login-modal:after , .close-login-modal:before{
    content: '';
    display:block;
    width: 40px;
    height: 1px;
    background-color: #fff;
    transition: all .2s linear;
    position: absolute;
    top: 35px;
    left: 10px;
}
.close-login-modal:after{
    transform: rotate(45deg);
}
.close-login-modal:before{
    transform: rotate(-45deg);
}
.login-box{
    width: 300px;
    margin: auto;
    
}
.login-modal{
    width: 400px;
    height: 400px;
    background-color: #fff;
    z-index: 2;
    border-radius: 5px;
    padding: 30px 0px;
    overflow: hidden;
    transition: all 2s linear;
}
.my-react-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.react-tabs__tab-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 0px 20px;
    border: none;
}

.right-tab , .left-tab{
border: 2px solid #0090CF;
padding: 20px;
width: 40%;
text-align: center;
color: #0090CF;
cursor: pointer;
}
.button-box{
    width: 100%;
}
.react-tabs__tab--selected{
    background-color: #0090CF;
    color: #fff;
}
.right-tab i{
    padding-left: 10px
}
.left-tab i{
    padding-right: 10px
}
.left-tab {
    border-radius: 30px 0px 0px 30px;
}
.right-tab {
    border-radius: 0px 30px 30px 0px;
}

.forget-pw-box{
    width: 300px;
    margin: 50px auto 90px;
}
.my-tab{
    transform: scale(1);
    transition: all  .3s cubic-bezier(0.010, 0.985, 0.020, 0.995);
}

.elevatorDown{
    transform: translateY(0px);
    transition: all  .3s cubic-bezier(0.010, 0.985, 0.020, 0.995); 
}
.elevatorUp{
    transform: translateY(-400px);
    transition: all  .3s cubic-bezier(0.010, 0.985, 0.020, 0.995); 
}


.forget-pw-text{
    width: 300px;
    text-align: center;
    margin: auto;
    color: #999;
    margin-top: 40px;
    font-size: 12px;
}
.forget-pw-text:hover{
    color: #0090CF;
    cursor: pointer;
}
.forget-pw-title{
    text-align: center;
    border-radius: 30px;
    border: 2px solid #0090CF;
    color: #0090CF;
    height: 40px;
    line-height: 37px;
}
.forget-pw-desc{
font-size: 11px;
padding: 30px 0px;
}
.back-reset{
display: flex;
flex-direction: row-reverse;
}
.forget-pw-back{
text-align: center;
padding: 20px 0px 0px;
color: #999;
cursor: pointer;
width: 100px;
margin: auto;
font-size: 13px;
transition: all .2s linear;
}
.forget-pw-back:hover{
    color: #777;
    transition: all .2s linear;

}
.forget-pw-back i{
margin-right: 5px;
}

/* =========================<CHECKBOX>======================== */

.cbx {
    position: relative;
    top: 1px;
    /* width: 17px; */
    /* height: 17px; */
    border: 1px solid #0090cf;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    background-color: white;
    padding: 2px 8px;

  }
  .cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    -webkit-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #0090cf;
    border-bottom: 2px solid #0090cf;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }
  .hidden-xs-up{
      display: none;
  }
  .checkbox-label {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
color: #999;
  }
  #cbx:checked ~ .cbx {
    border-color: #0090cf;
    background: #ffffff;
    -webkit-animation: jelly 0.6s ease;
    animation: jelly 0.6s ease;
    padding: 2px 8px;
  }
  #cbx:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
  .cntr {
    position: relative;
    top: 50%;
    left: 0;
    width: 300px;
    text-align: left;
    height: 30px;
    margin: 10px 0px;
    font-size: 12px;
  }

  @keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  .tabletNavUp , .tabletNavDown{
      display: none;
  }

@media screen and (max-width: 860px) {
   
  
     
}


@media screen and (max-width: 750px) {
   
    .desktop-nav{
        display: none;
    }
    .drawerMenu{
    
        display: block!important;
    }     
    .close-login-modal {
        right: 20px;
    }
     
    .drawerMenu{
        display: none;
        width: 60px;
        height: 50px;
        float: right;
        position: relative;
        z-index: 1;
        border-radius: 4px;
        right: 20px;
        cursor: pointer;
    }
    .tabletNavLi{
        padding: 30px 20px;
        margin: 0px;
        color: #fff;
        width: 101%;
        text-align: center;
        transition: all .1s linear;
        border-bottom: 1px solid #b91b34;
    
    }
    .tabletNavLi:hover{
        background-color: #f0f0f0;
        color: #000;
        transition: all .1s linear;
    }
    .tabletNavDown{
        position: fixed;
        background-color: #c50143;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(0px);
        transition: transform .4s cubic-bezier(0.000, 0.880, 0.190, 1.095);
    }
    .tabletNavUp{
        position: fixed;
        background-color: #c50143;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-1500px);
        transition: transform .4s cubic-bezier(0.770, -0.085, 1.000, 0.130);
    }
    .line {
        width: 60%;
        height: 2px;
        background-color: #b52038;
        position: absolute;
        left: 12px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.13);
    }
    .lineX {
        width: 60%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 9px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.13);
    }
    .line1{
        top: 14px;
        transform: rotate(0deg);
        transition: transform  .2s linear ,top .2s .2s linear;
    }
    .line2{
        top: 25px;
        opacity: 1;
        transition: opacity .2s .2s linear;
    
    }
    .line3{
        top: 36px;
        transform: rotate(0deg);
        transition: transform  .2s linear ,top .2s .2s linear;
    }
    .line1move{
        top: 26px;
        transform: rotate(45deg);
        transition: transform  .2s  .2s linear ,top  .2s linear;
    }
    .line2move{
        top: 26px;
        opacity: 0;
        transition: opacity  .2s linear;
    }
    .line3move{
        top: 26px;
        transform: rotate(-45deg);
        transition: transform  .2s  .2s linear , top .2s linear;
    }
}
.error-handeling-register{ 
    font-size: 12px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    right: 6px;
    color: #fff;
    top: 8px;
    user-select: none;
    z-index: 4; 
    background-color: #d75351;
    border-radius: 100px;
    padding: 5px 15px;
}

.success-handeling-register{
    font-size: 12px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    right: 6px;
    color: #1E8449;
    top: 8px;
    user-select: none;
    z-index: 4; 
    background-color: #82E0AA;
    border-radius: 100px;
    padding: 5px 15px;
}



.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes shake {
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    }
    @keyframes shake {
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    } 







    .flipInX {
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        -webkit-animation-name: flipInX;
        animation-name: flipInX;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes flipInX {
        0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
        }
        40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        }
        60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
        }
        80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        }
        100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        }
        }
        @keyframes flipInX {
        0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
        }
        40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        }
        60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
        }
        80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        }
        100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        }
        } 

        


@media screen and (max-width: 600px) {
   
 
     
}


@media screen and (max-width: 400px) {
    .login-modal{
        width: 95%;
    }
    .login-box{
        width: 100%;
    }
    .right-tab, .left-tab{
        width: 48%;
    }
    .forget-pw-box{
        width: 95%;
    }
    .my-tab{
        width: 95%;
        margin: auto;
    }
    .close-login-modal {
        top: 10px;
        right: calc(50% - 35px);
    }
    .cntr{
        top: 45%;
    }
}