.welcome-btn{
    position: relative;
    cursor: pointer;
    color: #959595;
    z-index: 2;
}


.welcome-box{
    background-color: #F5F5F5;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.welcome-text{
    margin-left: 20px;
}

.welcome-img{
    background: #F8F8F8;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 50%;
}

.welcomeChilds{
    padding: 0px;
    height: 0px;
    position: absolute;
    background: #E9E9E9;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    width: 180px;
    margin: auto;
    left: 10px;
    top: 40px;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
    transition:all .2s linear;
}
.welcome-btn:hover .welcomeChilds{
    opacity: 1;
    padding: 30px 0px 15px 0px;
    height: 185px;
    transition:all .2s linear;

}


.welcome-child{
    padding: 10px 20px 10px;
    display: flex;
    align-items: center;
    color: #333;
    opacity: 0.5;
    cursor: pointer;
    transition: all .2s linear;

}
.welcome-child:hover{
    background-color: #C4C4C4;
    opacity: 1;
    transition: all .2s linear;
}
.welcome-child-text{

}

.welcome-child-img{
    width: 15px;
    margin-right: 15px;
}