.search-result-container{
    width: 1200px;
    margin: auto;
}
.search-result-box{
    margin-top: 100px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg, #EAEAEA, #EAEAEA);
    overflow: hidden;
    min-height: 900px;
}
.filter-list-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EEEEEE;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;

}
.select-filter{
    display: flex;
    flex-direction: row;
    width: 600px;
    /* position: relative; */
    background-color: #eee;
    z-index: 2;
}
.select-filter-child{
    position: relative;
    width: 25%;
    padding: 10px 20px;
    border-right: 1px solid #DBDBDB;
    font-size: 17px;
    color: #6D6D6D;
    transition: all .2s;
}
.select-filter-child:hover{
    background-color: #dededef2;
    transition: all .2s;

}
.select-date{

}
.select-from-to{
    position: absolute;
    background-color: #fff;
    top: 98px;
    width: 400px;
    height: 250px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.select-min-max{
    position: absolute;
    top: 98px;
    background-color: #fff;
    width: 250px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter1{
    left: 0;
}
.filter2{
left: 150px
}
.filter3{
left: 300px
}
.filter4{
left: 450px
}
.from-to-box{
    height: calc(100% - 50px );
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
.min-to-max-box{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
.select-date-btn{
width: 100%;
height: 50px;
}
.apply-btn{
    width: inherit;
    height: inherit;
    background-color: #1FC056;
    cursor: pointer;
    transition: all .2s;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.apply-btn:hover{
    background-color: rgba(31, 192, 85, 0.8);
    transition: all .2s ;
}

.filter-date-drop{
padding: 10px 0px ;
cursor: pointer;
}
.filter-date-desc{
    color: #B6B6B6;
padding: 10px 0px 
}
.my-filter-action{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    cursor: pointer;
}
.filter-date-action{

}
.select-list{

}
.serach-map-box{

}
.search-show-box{

}
.select-griding {
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    align-items: center;
    border-radius: 30px;
}
.select-listing-map{
    display: flex;
    padding: 0px 10px;
    cursor: pointer;
    transition: all .2s ;

}
.select-listing-map:hover{
    opacity: .9;
    transition: all .2s ;

}
.select-list-btn , .select-map-btn{
    padding: 10px;
    cursor: pointer;

}
.mapBtn{
    background-color: #fff;
    position: relative;
    color: #0090CF;
    font-size: 13px;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0px 30px 30px 0px;
}
.mapBtnActive{
    position: relative;
    background-color: #0090CF;
    font-size: 13px;
    color: #fff;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0px 30px 30px 0px;
}
.listBtn{
    background-color: #fff;
    position: relative;
    color: #0090CF;
    font-size: 13px;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0px 0px 30px;
}
.listBtnActive{
    position: relative;
    background-color: #0090CF;
    font-size: 13px;
    color: #fff;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0px 0px 30px;
}
.full-btn{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.map-listing-box{

}


.map-list-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 400px;
}

.searchMap{
width: 0%;
height: 0;
opacity: 0;
transform: translateX(2000px);
transition: all .5s cubic-bezier(0.000, 0.000, 0.580, 1.000);    
}
.serachMapActive{
    opacity: 1;
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;

transform: translateX(0px);
transition: all .5s cubic-bezier(0.000, 0.000, 0.580, 1.000);    
}
.searchList100{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    transition: all .5s cubic-bezier(0.420, 0.000, 1.000, 1.000);
    }
.searchList{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    transition: all .5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.mapFix{
    position: fixed;
    right: 0;
}
.mapAbs{
    position: absolute;
    right: 0;
}
.selectFilter , .selectFilterDown , .show-filter-menu{
    display:none;
}

.searchResultBox {
display: none;
}
.searchResultBoxHidden{
    display: none;
}

@media screen and (max-width: 850px) {
    .searchResultBox {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .searchResultBoxHidden{
        display: none;
    }
    .tabletHidden{
        display: none;
    }
.show-filter-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    /* margin: 10px 25px; */
    cursor: pointer;
}
.show-filter-menu p{ 
    width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    background-color: #0090cf;
    color: #fff;
    height: 40px;
    line-height: 40px;
    transition: all .2s linear;

}
.show-filter-menu:hover p{
    opacity: .8;
    transition: all .2s linear;
}
.filter-list-box{
    padding: 20px;
    height: 70px;
}
.selectFilter{
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: unset;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;  
    background-color: #ECECEC;
    z-index: 3;
    transition: top .3s cubic-bezier(0.000, 0.980, 1.000, 0.980);
}
.selectFilterDown{
    position: fixed;
    display: block;
    top: 1000px;
    bottom: 0;
    left: 0;
    right: 0;
    width: unset;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;  
    background-color: #ECECEC;
    z-index: 3;
    transition: top .3s  cubic-bezier(1.000, 0.000, 1.000, 0.980);

}
.select-filter-child{
    height: 20%;
    width: 100%;
}
.filter-and-apply{
    height: calc(100% - 50px);
    padding-top: 50px;
}
.com-increase{
    width: 50%;
}
.filter-title{
    font-size: 18px;
    font-weight: 100;
    color: #555555;
}
.filter-and-aplly{

}
.filter-boxs{
    height: 90%;
}
.filter-box {
    height: 25%;
}
.apply-box{
    height: 10%;
    width: 90%;
    background-color: #1FC056;
    color: #fff;
    margin: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s linear;
}
.apply-box:hover{
    background-color: rgb(10, 141, 53);
    transition: all .2s linear;

}
.apply-box p {
    width: 90%;
    text-align: center;
    font-weight: 900;
}
.filter-close{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c8c8c8;
}
.filter-close h1 {
    color: #aaa;
    font-weight: 100;
    font-size: 28px;
}
.close-filter-box{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: all .2s linear;
}
.close-filter-box:hover:after , .close-filter-box:hover:before {
    background-color: #ccc;
    transition: all .2s linear;

}  
.close-filter-box:after , .close-filter-box:before{
    content: '';
    display:block;
    width: 40px;
    height: 2px;
    background-color: #aaa;
    transition: all .2s linear;
    position: absolute;
    top: 29px;
    left: 10px;
}
.close-filter-box:after{
    transform: rotate(45deg);
}
.close-filter-box:before{
    transform: rotate(-45deg);
}
.filter-children{
    display: flex;
    justify-content: space-around;
}
.filter-child{

}






/* @media screen and (max-width: 640px) { */

.map-list-box{
    flex-direction: column-reverse;
}
.searchMap{
    width: 100%;
    height: 0;
    z-index: 1;
    transform: translateX(-2000px);
    transition: height .5s cubic-bezier(0.000, 0.000, 0.580, 1.000) ;
    }
.serachMapActive{
    width: 100%;
    z-index: 0;
    height: 500px;
    position: absolute;
    right: 0;
    transform: translateX(0px);
    transition: transform .5s cubic-bezier(0.000, 0.000, 0.580, 1.000) ;    

}
.searchList100{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    transition: all .5s cubic-bezier(0.420, 0.000, 1.000, 1.000);
    }
.searchList{
    width: 100%;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    overflow: hidden;
    transition: all .5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.select-filter{
    width: 100%;
}

.select-griding {
    padding: unset;
}
.select-listing-map{
    width: 50%;
    height: 40px;
    font-size: 14px;
}
.filter1{
    left: 0;
}
.filter2{
left: 25%;
}
.filter3{
left: 50%;
}
.filter4{
left: 28%;
}

.com-increase{
    width: 100%;
}
.mapFix{
    position: fixed;
    top: 70px;
    height: 70vh;
}
}


@media screen and (max-width: 490px) {
    .select-from-to {
        width: 250px;
        height: 400px;
    }
    .from-to-box {
        flex-direction: column;
    }
    .select-from-to,.select-min-max{
top: 115px;
    }
    .show-filter-menu{
        width: 100px;
    }
    .filter1{
        left: 0;
    }
    .filter2{
    left: 25%;
    }
    .filter3{
    left: 30%;
    }
    .filter4{
    left: 28%;
    }
}