


.search-bx-container{
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    border: 6px solid rgba(193,193,193,0.8);
    border-radius: 50px; 
    
}


.search-bx-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
}

.search-bx-container ul  li {
    display: block;
    float: left;
    display: block; 
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    border-right: 1px solid #E5E5E5; 

}

 

.search-bx-container  .drop-down{
     border:0;
     background-color: transparent;
     padding: 20px 10px;
     font-size: 18px;

  }

  .drop-down:focus , .date-down:focus, .btn-search:focus {
    outline: none; 
}

option  { 
padding: 15px;
border-radius: 20px;
font-size: 18px;

}
.lbl-date{
    position: absolute; 
    padding-top: 19px;
}

 .date-down{
    border: 0;
    background-color: transparent;
    padding: 20px 0 20px 86px;
    font-size: 18px;
    width: 100px;
    color: #555; 

 }


 .btn-search{
    background-color: #C50143;
    border: 5px solid #333;
    border-radius: 40px;
    padding: 21px 53px;
    font-size: 18px;
    color: #fff;
    float: right;
    top: -6px;
    right: -6px;
    position: relative;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    cursor: pointer;

 }

 .btn-search:hover {
    background-color: rgb(160, 4, 56);
 
 }

 .drop-down-list{
    background-color: #fff; 
    padding: 18px 27px 24px 15px;
    cursor: pointer;

}