.txt-input-container{
    background-color: #fff;
    display: flex; 
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    flex-direction: row; 
    padding: 12px;
    margin: 10px;

}


.lbl-text-input{
   color: #2D9CDB;
   font-size: 16px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 5px;
   font-weight: 700;

}

.txt-input{ 
    background-color: transparent;
    width: 65%;
    border: 0;
    box-sizing: border-box; 
    padding: 5px;

} 

.txt-input:focus {
    outline: none;
    border: none;
}

.error-txt-input{
    background-color: #E74C3C; 
    position: absolute;
    float: right;
    right: 0;
    margin-right: 20px;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
    color: #333;
}

.labelSecend-styling{
    position: absolute; 
    float: right;
    right: 0;
    margin-right: 20px;
    border-radius: 10px; 
    font-size: 16px;
    color: #1FC056;
    background-color: #fff;
    padding-top: 4px;
}




@media screen and (max-width: 400px) {
   
    .txt-input-container{ 
        display: grid;

    }
    .labelSecend-styling{
         font-size: 12px;
        
    }

    .txt-input{  
        width: 100%; 
    
    } 

    .error-txt-input{
        margin: 10px;
        position: relative;
         
    }
     
}